<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>globalController</servlet-name>
        <servlet-class>controller.globalcontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>globalController</servlet-name>
        <url-pattern>/rasel/*</url-pattern>
    </servlet-mapping>
	
</web-app>